/* hide a block with a fade-out effect */

@keyframes hide {
    0% {
        opacity: 1;
        /* line-height: 1.5;
        padding: 2rem;
        margin: 0;
        margin-bottom: 0.5rem; */
    }
    75% {
        opacity: 0;
        /* line-height: 1.5;
        padding: 20rem;
        margin-bottom: 0.5rem; */
    }
    100% {
        /* opacity: 0; */
        height: 0;
        line-height: 0;
        padding: 0;
        margin-bottom: 0;
    }
}
.fader {
    background: #998463;
    color: #f7f4ef;
    max-width: 600px;
    padding: 2rem;
    margin: 0;
    margin-bottom: 0.5rem;
    cursor: pointer;
    /* name used in @keyframes */
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
